<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <property name="filename" value="log/cluster-console-ACCESS-DEBUG"/>

    <appender name="ACCESS_DEBUG_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${filename}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${filename}.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>120</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} %i{ClientIp} %h %l %u - "%r" %s %b "%i{Referer}" "%i{User-Agent}" %i{x-ssl-header}
                %n======&gt;%n%fullRequest&lt;======%n%fullResponse
            </pattern>
        </encoder>
    </appender>

    <appender-ref ref="ACCESS_DEBUG_LOG_FILE"/>
</configuration>